name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: quality-check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go/go.mod'
        cache: true
        cache-dependency-path: go/go.sum

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        working-directory: ./go

    - name: Run govulncheck
      run: |
        go install golang.org/x/vuln/cmd/govulncheck@latest
        govulncheck ./...

    - name: Verify Dependencies
      run: go mod verify

    - name: Build
      run: make build

    - name: Test
      run: make test
